
/* colors */

$primary-color: #4A7AA2;
$row-dark-color: #B7C8D8;

h1, h2, h3, h4, h5 {
  color: darken($primary-color, 0%);
}
h2, .h2 {
  font-size: 20px;
}

h3, .h3 {
  font-size: 16px;
}

/* dimensions */
$banner-height: 240;
