$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$primary-color: #B7C8D8;
$row-dark-color: #B7C8D8;
$banner-height: 240;

body{
  padding-bottom: 20px;
}

.banner {  
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0; 
  background-size: 100%; 
  height: ($banner-height)px;
  width: 100%;
}

.fRight {
  float: right;
}

.fLeft {
  float: left;
}

.range-label {
  font-size: 1.4em;
  top: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

#share {
  position: relative;
  float: right;
  margin-top: 19%;
  right: 10px;
  width: 238px;
  padding: 4px 0px;
  height: 42px;
  /* border: 1px solid $primary-color;
  border-radius: 4px;
  */
  div {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-image: url("../images/social-sprite2.png");
    overflow: hidden;
    background-position: -1000 -1000;
    &.label {
      width: 68px;
      padding-top: 9px;
      font-size: 12px;
      margin-right: 4px;
      color: black;
      background: none;
    }
    &.facebook {
      background-position: -96px 0px;
      &:hover {
        background-position: -96px -32px;
      }
    }
    &.twitter {
      background-position: 0px 0px;
      &:hover {
        background-position: 0px -32px;
      }    
    }
    &.google {
      background-position: -32px 0px;
      &:hover {
        background-position: -32px -32px;
      }    
    }
    &.linkedin {
      background-position: -64px 0px;
      &:hover {
        background-position: -64px -32px;
      }    
    }  
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
h2, .h2 {
  font-size: 20px;
}

h3, .h3 {
  font-size: 16px;
}

/* Space out content a bit */


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 0px;
  padding-right: 0px;
}
.sm-menu-title {
  margin: 15px 0px 0px 12px;
  text-decoration: none;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  width: 100%;
}

/* Custom page header */
.header {
  /* border-bottom: 1px solid #e5e5e5; */
  margin-top: 0px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.navbar-header {
  .company-name {
    color: lightgray;
    font-size: 18px;
    margin: 20px 0px 0px 20px;  
  }
}

.navbar-inverse {
  background-color: rgba(0,0,0,.8);
  border-color: #090909;
}

.navbar-collapse {
  font-size: 12px;
  color: white;
}

.navbar-nav > li > a {padding-top:12px !important; padding-bottom:6px !important;}
.navbar {min-height:30px !important}

/* Custom page footer */
footer {
  background-color:rgba(0, 0, 0, 0.5);
  .info, .glyphicon-hand-down {
    display: none;
  }
}

.top-logo {
  text-decoration: none;
  font-size: 40px;
  margin: 0px 12px 0px 12px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting inventory content */
div.filters {
  background-color: lighten( $row-dark-color, 20% );
  border-radius: 4px;
  padding: 8px;
  border: 1px solid $row-dark-color;
  margin: 20px 0px 0px 0px;
  input {
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
  }
  select {
    height: 20px;
    margin-right: 10px;
    font-size: 14px !important;  
  }
}
.inventory {
  &div {
    /* float: left; */
  }
  &.titles {
    font-size:1.2em;
    font-wieght:bold;
    background-color: lighten( $row-dark-color, 20% );
    border: 1px solid gray;
  }
  .mfg, .model, .description, .qty {
    vertical-align: top;
  }
  &.item {
    &:hover {
      background: white;
      border: 1px solid black;
    }
  }
}

.no-results {
  border-radius: 4px;
  border: 1px solid black;
  float: left;
  color: red;
  font-size: 24px;
  height: 60px;
  width: 95%;
  margin: 10px;
  background-color: #f9fbfc;
  padding: 12px;
}

/*  colored rows  */
.item:nth-child(even){
  background: $row-dark-color;
}
.item:nth-child(odd){
  background: lighten( $row-dark-color, 10% );
}

/* Press */
div.press img {
  width: 100%;
  border: 1px solid black;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .banner {
    background-image: url('../images/top-banner-lg.jpg');
    height: $banner-height + px;
  }
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        .banner {
          background-image: url('../images/top-banner-lg.jpg');
          height: $banner-height + px;
        }
        font-size: 1.5em; /* 1.5x default size */
        padding-top: 0px;
        padding-bottom: 20px;
        .container.main {
          margin-top: 0px;
        }
    }
}
@media all and (max-width: 1024px) { 
    body {
        .banner {
          background-image: url('../images/top-banner-md.jpg');
          height: ($banner-height - 50) + px;
        }
        font-size: 1.2em; /* 1.2x default size */
        padding-top: 0px;
        padding-bottom: 20px;
        .container.main {
          margin-top: 30px;
        }        
        #share {
          div {
            &.facebook {
              background-position: -96px -32px;
            }
            &.twitter {
              background-position: 0px -32px;
            }
            &.google {
              background-position: -32px -32px;
            }
            &.linkedin {
              background-position: -64px -32px;
            }
          }
        }
    }
}
@media all and (max-width: 640px) { 
    body {
        .banner {
          background-image: url('../images/top-banner-sm.jpg');
          height: ($banner-height - 90) + px;
        }
        font-size: 0.9em; /* 0.8x default size */
        padding-top: 0px;
        padding-bottom: 20px;      
        .container.main {
          margin-top: 0px;
        } 
        #share {
          margin-top: 0px;
          div {
            &.facebook {
              background-position: -96px -32px;
            }
            &.twitter {
              background-position: 0px -32px;
            }
            &.google {
              background-position: -32px -32px;
            }
            &.linkedin {
              background-position: -64px -32px;
            }
          }
        }           
    }
}

@media all and (max-width: 320px) { 
    body {
        .banner {
          /* background-image: url('../images/top-banner-sm.jpg'); */
          background: transparent;
          height: ($banner-height - 196) + px;
        }
        #share {
          margin-top: 0px;
          div {
            &.facebook {
              background-position: -96px -32px;
            }
            &.twitter {
              background-position: 0px -32px;
            }
            &.google {
              background-position: -32px -32px;
            }
            &.linkedin {
              background-position: -64px -32px;
            }
          }
        }
        font-size: 0.9em; /* 0.8x default size */
        padding-top: 0px;
        padding-bottom: 20px;      
        .container.main {
          margin-top: 0px;
        }    
        .banner {
          margin-top: 50px;
        }
        .navbar-header {
          .company-name {
            color: lightgray;
            font-size: 12px;
            margin: 20px 0px 0px 20px;  
          }
        }
        .navbar-nav {padding-top:4px !important; padding-bottom:4px !important;}
        .navbar {min-height:20px !important}

        glyphicon.glyphicon-hand-up, glyphicon.glyphicon-hand-up {
          padding: 0px;
        }
        .navbar-inverse {
          background-color: rgba(0,0,0,.8);
          border-color: #090909;
        }

        .navbar-collapse {
          font-size: 12px;
          color: white;
        }
        .no-results {
          font-size: 14px;
        }
        .range-label {
          font-size: 1.0em;
          top: 14px;
          font-weight: bold;
          margin-bottom: 0px;
        }
        .filters {
          input {
            width: 120px;
          }
        }
    }
}


