$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "default.scss";

body{
  margin-bottom: 40px;
}

.container, .container-fluid, .banner {
  max-width: 1170px !important;
}

/* Navbar */
.navbar-inverse {
  /* background-color: rgba(0,0,0,.8); */
  border-color: #090909;
}

.navbar-collapse {
  font-size: 18px;
  color: white;
}

.banner {  
  background-image: url("../images/top-banner-1024x233.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0; 
  background-size: 100%; 
  height: $banner-height + px;
  width: 100%;
}

.range-label {
  font-size: 1.1em;
  top: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.share {
  position: relative;
  float: right;
  margin-top: 19%;
  right: 10px;
  width: 238px;
  padding: 4px 0px;
  height: 42px;
  div {
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-image: url("../images/social-sprite2.png");
    overflow: hidden;
    background-position: -1000 -1000;
    &.label {
      cursor: default;
      width: 68px;
      padding-top: 9px;
      font-size: 12px;
      margin-right: 4px;
      color: $primary-color;
      background: none;
    }
    &.facebook {
      background-position: -96px 0px;
      &:hover {
        background-position: -96px -32px;
      }
    }
    &.twitter {
      background-position: 0px 0px;
      &:hover {
        background-position: 0px -32px;
      }    
    }
    &.linkedin {
      background-position: -32px 0px;
      &:hover {
        background-position: -32px -32px;
      }    
    }
    &.google {
      background-position: -64px 0px;
      &:hover {
        background-position: -64px -32px;
      }    
    }  
  }
}

.container-fluid .share.dropdown {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.58);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.58);
  position: fixed;
  top: 50px;
  background: #7D92B8;
  display:none;
  width: 110%;
  margin: 0px -15px 0px -15px;
  z-index: 2000;
  .label {
    color: black;
  }
  span {
    margin-right: 34px;
  }
}

.header,
.marketing {
  padding-left: 0px;
  padding-right: 0px;
}
.sm-menu-title {
  margin: 15px 0px 0px 12px;
  text-decoration: none;
}
/* Carousel */

.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-indicators {
    background: rgba(0,0,0,.5);
    border-radius: 6px;
    padding: 4px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  width: 100%;
}
.carousel-caption {
  margin-bottom: 40px;
  h2 {
    color: white;
    font-size: 2.0em;
  }
}

.navbar-header {
  .company-name {
    color: lightgray;
    font-size: 14px;
    margin: 20px 0px 0px 20px;  
  }
}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:6px !important;}
.navbar {min-height:30px !important}

/* Custom page footer */
footer {
  cursor: pointer;
  font-size: 14px;
  padding: 4px 4px 4px 12px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 34px;
  color: #ffffff;
  background-color:rgba(0, 0, 0, 0.7);
  .info {
    color: $footer-info-color;
    margin-top: 44px;
    display: none;
  }
  .phone {
    small {
      color: lightgray;
      font-size: 14px
    }
    font-size: 13px;
    span {
      margin: 0px 10px 0px 0px;
      font-size: 44px;
    }
  }
}

.top-logo {
  text-decoration: none;
  font-size: 40px;
  margin: 0px 12px 0px 12px;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Supporting inventory content */
div.filters {
  background-color: lighten( $row-dark-color, 20% );
  border-radius: 4px;
  padding: 8px 0px 8px 0px;
  border: 1px solid $row-dark-color;
  margin: 20px 0px 0px 0px;
  input {
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
  }
  select {
    height: 20px;
    margin-right: 10px;
    font-size: 14px !important;  
  }
}
  .titles {
    color: white;
    font-size:1.2em;
    font-wieght:bold;
    background-color: darken( $row-dark-color, 20% );
    border: 1px solid gray;
    margin-bottom: 0px;
  }
.inventory {
  &div {
    /* float: left; */
  }
  .mfg, .model, .description, .qty {
    vertical-align: top;
  }
  &.item {
    border-bottom: 1px solid darken( $row-dark-color, 20% );
    &:hover {
      background: white;
      border-bottom: 1px solid black;
    }
  }
}

.no-results {
  margin-top: 12px;
  border-radius: 4px;
  h5 {
    color: red;
    font-size: 16px;  
  }
}

.item > div {
  padding: 4px 0px;
  /* border: 1px solid darken( $row-dark-color, 10% );; */
}
/*  colored rows  */
.item:nth-child(even) {
  background: $row-dark-color;
}
.item:nth-child(odd) {    
  background: lighten( $row-dark-color, 10% );
}

/* Press */

.press-article {
  padding: 0px 30px 0px 30px;
  p {
    color: $primary-color;
    font-style: italic;
  }
}

.fluid-img {
  width: 100%;
}

.service-pic {
  width:100%;
  margin-bottom:20px;
}

.left-rail, .right-rail {
  img {
    width: 100%;
    margin-bottom: 6px;
    border:1px solid #e4e4e4;
    box-shadow: 4px 4px 3px #888888;
    margin-top: 8px;
  }
}

#thanks {
  h2.error {
    color: red;
  }
}

@media all and (max-width: 1024px) { 
  
  @import "tablet.scss";

}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait) { 

  @import "mobile.scss";

}
