<div class="row">
   <div class="col-xs-12">
      <h1>About our company</h1>
      <p>The IT Recovery Specialists are in the business of remarketing surplus equipment, discontinued products, distressed inventories, and bankruptcy liquidations.</p>
      <p>IT Recovery Specialists was established as an independent business in 1996 and maintains its headquarters in Connecticut.  The majority of IT Recovery Specialists' business has been within the Information Technology and Telecommunications sectors.  IT Recovery Specialists processes several millions of dollars of inventory through their facility each month. </p>
      <p>IT Recovery Specialists provides a full set of services for Asset removal, storage, salvage and remarketing.  A brief description of these processes include,</p>
      <p>
      </p>
      <ul>
         <li><strong>Asset Evaluation</strong> - IT Recovery Specialists can provide a market value to your capital equipment. Our principals have extensive experience in evaluating high technology equipment.</li>
         <li><strong>Asset Removal</strong> - IT Recovery Specialists provides licensed technicians, electricians and movers to complete the task of properly dismantling, packaging and transporting equipment. This service is provided nation wide and internationally (when required).</li>
         <li><strong>Asset Storage</strong> - IT Recovery Specialists can provide ample warehousing space for equipment storage. Additional warehousing space can be easily acquired as needed. Our staff is highly experienced in the proper handling high technology equipment.</li>
         <li><strong>Asset Salvage</strong> - IT Recovery Specialists works with several external sources in salvaging obsolete or damaged equipment. This includes the safe disposal of hazardous materials such as CRT's and monitors.</li>
         <li><strong>Asset Reclamation</strong> - IT Recovery Specialists has the facilities to retest and certify high technology equipment.</li>
         <li><strong>Asset Remarketing</strong> - IT Recovery Specialists can provide multiple sales channels for remarketing assets. This includes bulk sales, direct sales, Internet Exposure, and Auctions. </li>
      </ul>
      <h2>Market Experience</h2>
      <p>IT Recovery Specialists is one of the industries largest asset trading and recovery businesses. A sample of engagements include,</p>
      <ul>
         <li><strong>Level3</strong> - currently under contract to remove and warehouse assets from more than 50 failed companies in Level3's co-located facilities nationwide.</li>
         <li><strong>Digital News Media</strong> - bankruptcy: removed several millions of dollars worth of capital assets.</li>
         <li><strong>Prism</strong> - bankruptcy: removed, warehoused and remarketed $565 million worth (original cost) of equipment from several 157 co-located facilities.</li>
         <li><strong>Microcast</strong> - bankruptcy: removed, warehoused and remarketed $100 million worth (original cost) of equipment from 30 co-located facilities. Remarketed equipment through multiple sales channels (Internet, Auction, Direct Sales).</li>
         <li><strong>ATT / Lucent</strong> - Closed and remarketed surplus equipment from several facilities across the world.</li>
      </ul>
      <p>Other experiences include working with various Fortune 1000 companies that are currently restructuring and require our services to evaluate their capital assets.Customer references can be provided upon request.IT Recovery Specialists Principals and StaffIT Recovery Specialists maintains a full office, accounting and warehouse staff to provide the needed support to run the day-to-day activities. Click <a href="mgmt.php">here</a> to find out more information about our Key principals of the staff.</p>
   </div>
</div>

