<div class="row">
   <div class="col-xs-12 press-article">
   		
		<h2>PROCUREMENT STRATEGIES - Good Stuff Cheap</h2>
		<h3>From the Oct. 15, 2002 Issue of CIO Magazine</h3>
		<img src="images/press/cio-mag-good-stuff.jpg" class="img-responsive" alt="CIO Magazine - Good Stuff Cheap"/>
		<img src="images/press/cio-mag-good-stuff-2.jpg" class="img-responsive" alt="CIO Magazine - Good Stuff Cheap"/>		
		<img src="images/press/cio-mag-good-stuff-3.jpg" class="img-responsive" alt="CIO Magazine - Good Stuff Cheap"/>
	</div>
</div>
