<div class="row">
   <div class="col-xs-12 press-article">
   		<img src="images/press/cio_mag.jpg" class="img-responsive" alt="CIO Magazine - Good Stuff Cheap"/>
		<h2>PROCUREMENT STRATEGIES - Good Stuff Cheap</h2>
		<h3>From the Oct. 15, 2002 Issue of CIO Magazine</h3>

		<p>IN THE EARLY 1970S, when the government, as part of a lengthy antitrust action, forced IBM to sell equipment and not just rent it, companies such as Comdisco and Forsythe-Macarthur bought IBM S360s and entered the leasing business. Thus, the secondary marketplace—where used hardware is bought and sold—was born. It was a niche business, and it stayed that way for 25 years. Until everyone lost his mind.</p>

		<p>That was about five years ago. Flush with Internet cash, CIOs stocked up, buying a server for every application. With Y2K looming, they bought backups too. With the Web, there was no such thing as too much storage or networking capacity. Demand was massive, and supply strained to keep up.</p>

		<p>Then, overnight, demand vanished. Companies that had been buying hardware in bulk—mainly telecoms and dotcoms—went out of business. Other companies decapitated their IT budgets and started consolidating servers and data centers. Most also decided that their old servers were good enough. Who needed the new new thing? Leases ended on a startling amount of equipment. </p>

		<p>Put it all together, and you get a sudden and unprecedented surplus of perfectly good routers, switches, disks, servers, PCs and notebooks.</p>

		<p>There is so much used hardware available now—and so much emphasis on cutting costs—that the secondary market is no longer a niche business. Nor does it appear to be a transient, post-boom phenomenon. Experts point to four factors to support this assertion: 1. chips don't wear out like automobile engines, meaning this gear will be marketable for years to come; 2. the sheer volume of hardware created during the late '90s can support the secondary market for years (consider that a startup, MicroCast, earned $880,000 in revenue between 1999 and 2000, filed Chapter 11 in late 2000 and left behind hardware valued at $40 million); 3. once buyers get used to wholesale prices, it's unlikely they'll willingly go back to buying retail; 4. the services developing to support the secondary market are making it easier and less frightening for buyers to participate. Soon CIOs won't be able to imagine not having the option to buy used.</p> 

		<p>This is a complex market. You can buy from brokers or tweeners or vendors. Or eBay. There are license transfers, inspection fees and third-party maintenance options. There's disposition to think about. (How do you throw this stuff out without running afoul of the Environmental Protection Agency?) Just learning the lingo is a chore. (See "The Secondary Market: A Glossary," right.) But as CIOs of enterprises both large and small are currently learning, the rewards for diving into the secondary market can be great.</p>

		<p>Here, then, is CIO's tour of the secondary market—its characters, its characteristics, the products and the prices that are insane! </p>

		<h3>The Buyers</h3>
		<h3>WHY THE CEO LOVES BILL HASER</h3>

		<p>Bill Haser, CIO of Tenneco Automotive: Using the secondary market, Haser has cut his annual operational costs by one-quarter.</p>

		<p>BILL HASER might be bragging a little bit, but he has a right to. "In two years, we've driven out about a quarter of our operational costs," says the CIO of Tenneco Automotive, a $3.5 billion auto parts manufacturer in Lake Forest, Ill. "I told a CIO about that, and he thought I was joking. I'm not. The savings have been very substantial, and the chairman has recognized us for it. A large part of that savings has been leveraging the secondary market."</p>

		<p>Haser is in a minority and a majority here. He's in a minority because he is one of only a few CIOs willing to speak on the record about the secondary market. Either through some sort of hand-me-down shame or maybe to protect relationships with vendors, many CIOs aren't.</p>

		<p>But Haser is in a majority because, as he says, "Everyone is doing it."</p>

		<p>Indeed, according to a recent CIO survey of 187 information executives, 77 percent are purchasing secondary market equipment, and 46 percent expect to increase their spending in that area next year by an average of 15 percent. (To see the entire survey, go to "Second-Hand IT".)</p>

		<p>Forty-one percent cited lower capital costs as their primary reason for going used, which isn't surprising. The economics of used gear is hard to ignore. Samuel Brooks, MIS director of Keystone Property Management in Mount Pleasant, Mich., relies on the used market to get equipment he says he otherwise couldn't afford. His most recent deal was a $10,000 Dell file server that he got for $3,000. Asked if his chairman recognized him, the way Haser's had, Brooks says, "Nope. Now that they see this channel, they expect me to be there."</p>

		<p>Even more significant, 30 percent of survey respondents said that they're there because the performance of new equipment simply doesn't justify its expense. Last year's hardware, it seems, will run this year's applications perfectly well.</p>

		<p>Haser says that he had assumed that the secondary market was littered with Jurassic hardware that wouldn't support his applications. Instead, he's buying used gear to support an SAP upgrade.</p>

		<p>"We'll always look at this market as an option from here on in," Haser says.</p>

		<table width="60%">
		<tbody><tr>
			<td valign="top"><h3>The Brokers</h3>
		<h3>CRAZY JOHN. HIS PRICES ARE INSANE!!!</h3>
		<p><strong>John Lynch, CEO, Asset Recovery Center</strong>, says he will sell $50 million in used gear this year.</p>
		<p>MEET JOHN LYNCH. Has he got a deal for you!</p>
		</td>
			<td><img src="images/johnl.jpg" alt="" border="0"></td>
		</tr>
		</tbody></table>


		<p>How about a Cisco 12000, fully loaded, for 12 grand? Or a $55,000 Sun StorEdge 9X73 657 GB T3 Array, new in the box. Lynch'll sell it to you for seventeen-five. There's no reason, he says, to pay exorbitant prices for new hardware when there's so much good used gear to be had.</p>

		<p>"There's $350 million of stuff at Enron. We just picked up half of it.</p>

		<p>"Hold on," he says, taking another call.</p>

		<p>He returns without missing a beat. "Sorry. Williams is another telecom that put $247 million in gear out there. I've purchased over 200 midrange Compaq servers in the last two weeks, and I'll get $12 million more in Cisco gear in the next two weeks.</p>

		<p>"Hold on," he says.</p>

		<p>Lynch, 46, is CEO of Asset Recovery Center (ARC), one of the largest companies on the secondary market. ARC will take in about $50 million this year, up from $1 million two years ago. Lynch believes that the top line will grow to $100 million next year. At any given time, there's about $80 million worth of used gear in its Eatontown, N.J., warehouse.</p>

		<p>That is in part due to Lynch. His brassy Jersey accent seems to put everything he says into italics. Someone else
		How Big Is It?
		In fact, no one knows the size of the secondary market. But everyone knows it's getting bigger all the time.</p>

		<p>Read More
		might say, "That sale was worth about $1 million." Lynch says, "I picked up a million and change on that deal." Lynch's strength (as he'll agree) is his ability to foresee the secondary market's ebbs and flows—which products will be in demand and which will just take up space in his warehouse. He's been doing this for 25 years since the days when "10MB hard drives weighed 120 pounds." He got his start when, as he was eating an Italian combo sub on a loading dock, he saw some Digital equipment nearby, waiting to be scrapped. The next day he put on a tie, bought the lot and turned it around for $98,000, four times his annual salary at a company called Associated Food, where he ran the cash-and-carry division.</p>

		<p>The fact that Lynch is both knowledgeable and colorful has landed him on NBC, in Fortune magazine and at the dais lecturing hundreds of Wall Street's heaviest heavyweights. He has become the public face of the secondary market, and it's a face that has struck fear into hardware vendors watching their customers being lured away by the titillatingly low prices Lynch and his ilk can offer.</p>

		<p>"You'll save money just by entertaining me," says Richard Hart, who owns used hardware vendor H and H Technologies in Hickory, N.C. "Tell a vendor you're looking at used gear, and they'll start cutting their prices immediately. You're foolish not to at least inquire."</p>

		<p>Brokers range from small-time entrepreneurs such as Hart to websites like Usedrouter.com to large outfits like ARC and Optimus Solutions, a $125 million company.</p>

		<p>Brokers will trade 10 servers for five routers. If you ask them to, they'll hunt down a hard-to-find storage device. If you want, they'll rent you hardware. Everything's available. Everything's negotiable.</p>

		<p>Many buyers find this refreshing. Mainstream vendors can often seem unfriendly and downright stodgy next to a guy who's willing to knock off 10 grand if you'll trade in that pile of laptops in the closet.</p>

		<p>"I'm on my way to our warehouse now," Lynch says. "I've got four MCI reps coming in looking to off-load some equipment. I sold a million-six of Cisco 6509s to Credit Suisse First Boston. I'm working a deal with Qwest. They're trying to get rid of a whole warehouse of goods. It's worth $50 million. They want $22 mill. I'm offering $9 million.</p>

		<p>"Hold on...."</p>

		<h3>The Vendors  [part 1]</h3>
		<h3>IN DENIAL</h3>

		<p>IT'S NO FUN competing against yourself, trying to sell this year's server for $10,000 while some wheeler-dealer is hawking last year's server (which is really just as good) for $3,000. This dynamic has divided the vendor community into two groups: those learning to live with the secondary market and those in denial.</p>

		<p>You can see the denial in how some sales reps will try to make a sale.</p>

		<p>First, they will question the provenance of the hardware. They might suggest that the broker is selling "gray market" equipment, meaning it might contain illegal parts, and wouldn't the buyer be better off buying a server that a big vendor stands behind?</p>

		<p>Lynch at ARC says Cisco sales reps told a prospective buyer that it would be "unpatriotic" to buy from Lynch and suggested that the hardware Lynch was selling was "contaminated" with asbestos dust because it had come from offices near the World Trade Center. (About $10 million in gear was recovered from the WTC site. Lynch confirms that the hardware he was selling in this deal came from there but denies that it was contaminated and denies being unpatriotic.)</p>

		<p>Says a Cisco spokesperson, "Customer satisfaction is a core value of Cisco's culture. Any behavior that doesn't support this value is unacceptable."</p>

		<p>There are other ways to make purchasing on the secondary market less appealing.</p>

		<p>"I've got EMC stuff, still in the box, still sealed shut with EMC tape," says Jeff Archuleta, who owns secondary vendor Arch Consulting in Sandy, Utah. "It's in perfect condition. And EMC is telling the buyer it has to be recertified for eight grand before the buyer can get a support contract."</p>

		<p>Greg Winner, CIO of real estate firm Hamilton Partners in Chicago, called his Cisco sales rep to inquire about license transfers and support on a large volume of Catalyst 5500 switches and VXR 7200 routers from companies that had filed Chapter 11. He was going to use them to offer high-speed access to Hamilton Partners tenants. The sales rep told Winner that before Cisco would agree to support the gear, it would have to inspect it. That would cost as much as $6,000 for each piece of used equipment. Furthermore, Winner would have to buy new software licenses for as much as $3,150 per year per unit.</p>

		<p>"This is like GM asking for a royalty when I buy a used car," Winner says.</p>

		<p>If the buyer is still leaning toward purchasing used equipment, the sales rep can play his trump card: He can say his company will not be able to provide support. That happened to Tim DuBose, who owns Riverside Technology Group in Riverside, Calif. He was selling $1.6 million worth of high-end Sun servers to a large company, but says the buyer dropped out after Sun said it could not support them.</p>

		<p>Brokers say that nine out of 10 times the support ploy is a bluff. But it's a good one. No one wants unsupported gear. Still, CIOs and brokers say that if the buyer calls the bluff, the sales reps will start trying to sell services, or they'll cut the price on new gear.</p>

		<p>Ultimately, that kind of aggressive selling is myopic, argues Eric Johnson, associate professor at the Tuck School of Business at Dartmouth University in Hanover, N.H. Vendors may grab back some business in the short term, but already third-party companies are stepping up to offer alternative maintenance contracts, and some brokers are getting into the support business.</p>

		<p>What the big vendors should concentrate on, says Johnson, is safeguarding their relationship with their customers, not protecting next week's sales.</p>

		<p>Vendors are beginning to get this to varying degrees. IBM's Global Financing division, which includes both leasing and used sales, accounted for 10 percent of IBM's 2001 profits. Forty percent of Hewlett-Packard's Financial Services division revenue last year came from the secondary market. Dell's revenue from used gear went from zero in 1999 to $200 million last year. Cisco set up the Cisco Authorized Refurbished Equipment (CARE) program in 2000. But unlike Dell, HP and IBM, Cisco does not maintain a storefront on eBay, which those vendors use as a primary marketing channel. And a Cisco spokesperson says, "We do not see the used market as significant in terms of its impact on our business."</p>

		<h3>The Vendors [part 2]</h3>
		<h3>LEARNING TO LOVE THE SECONDARY MARKET</h3>

		<p>Selling used gear may seem to be at odds with being the original manufacturer, but maybe it's an opportunity," says John Sheaffer, CEO of Westmont, Ill.-based Sysix, which sells both new and used gear. "Hey, margin is margin. Money is what matters. Like it or not, this market is in play.</p>

		<p>Irv Rothman gets it. "If you don't control the secondary market for yourself, someone else will," says Rothman, CEO of HP Financial Services. "And they will use your equipment against you."</p>

		<p>To prevent that, HPFS's Andover, Mass., office has 470,000 square feet of offices and storage space and labs</p>

		<p>If you don't control the secondary market for yourself, someone else will. And they will use your equipment against you.</p>

		<p>-IRV ROTHMAN, CEO, HP FINANCIAL SERVICES
		and parts shops and loading docks that operate around the clock, taking in leased and repossessed equipment for a lavish technical wash and wax. Refurbishing used gear includes wiping hard drives, replacing components, testing chips, restoring basic configurations and sucking the dust out of a system. At any given moment, HPFS has 50,000 used assets here. Half-a-million pass through in a year. Skids hold yellowed, junky monitors that will soon meet an environmentally conscious death. There are pallets stacked with notebooks like giant plates of nachos. In the back, 45,000 square feet of warehoused gear is stacked to the ceiling, waiting to ship out to HP's services group, or to brokers, or to a CIO who got herself a deal on a 20-year-old VAX system.</p>

		<p>The Andover facility (it was Compaq's before the merger) didn't exist six years ago. IBM has built 20 refurb houses worldwide, taking in 15,000 assets a week. These vendors are not in denial; they're taking the brokers on.</p>

		<p>In general, vendors can't beat brokers on price because their overhead is much higher. But vendors do have certain advantages. Trusted brands. Deep knowledge of the systems. Extensive services groups to support the gear. Dealing with the vendor directly certainly provides the least complicated license transfer and maintenance contract transfer process. This is where the secondary market is going. "I'll pay a little more and deal directly with the vendor rather than pay a lot less and go through a broker," says Brooks, Keystone Property's CIO.</p>

		<p>The vendors are as scientific about the secondary market as the brokers are seat-of-the-pants. HP's warehouse is entirely automated. There are equations that determine the value of used gear—whether, say, it's more valuable in parts than as a whole. "We have tuned the demand," says Af Assur, IBM's director of global remarketing for Global Asset Recovery Services, which is part of IBM Global Financing, the leasing group. "We know the inflow and outflow about two months in advance, so we plan and know exactly what to do with the asset when it comes in."</p>

		<p>It has been a coldly corporate ramp-up, which is why Rothman thinks fewer people know about his business than they do Lynch's. "It's not as sexy a story as, you know, some broker-making-millions story," Rothman says. "Look, 40 percent of our [division's] revenue is from the secondary market. That's a big number."</p>


		<p>The Market
		WHO SETS THE PRICE?
		PARADOXICALLY, the complexity of the secondary market was spun out of the simplest notion: supply and demand. When demand ruled, so did vendors. They set prices; they determined the value, or lack thereof, of used gear. Now supply rules, and CIOs have a great opportunity to grab the power to define value.</p>

		<p>HP's Rothman calls it the law of the jungle. ARC's Lynch calls it the American way.</p>

		<p>Malcolm Fields, CIO at Hon Industries, a $1.8 billion office furniture manufacturer in Muscatine, Iowa,
		4 Rules for Working the Secondary Market
		1. Do your homework....</p>

		<p>Read More
		calls it his fiduciary responsibility. Fields is a self-described tightwad. He says that recently his units have fallen in love with the secondary market because demonstrating ROI is a cinch when capital costs can be reduced.</p>

		<p>"We've started browsing the hardware section of eBay. I've bought gear on there three or four times," says Fields. "We'll search on a type of equipment just to get a sense of the market. Then we typically buy from smaller, independent players, direct. We insist on strong warranties."</p>

		<p>Fields, like Haser at Tenneco, was impressed by the amount of good stuff he's found. Like Haser, he was happy to discover that more and more services are supporting the market. Like Haser, his company is noticing his effort to reduce costs. "I've already saved us hundreds of thousands," he says.</p>

		<p>And, like Haser, Fields has found a new way to do his job. He's setting a price, and the market moves end</p>
		   </div>
</div>
