<div class="row">
  <div class="col-xs-12">
    <h2>How to contact us:</h2>
    <p class="lead">Please fill out the form below and someone from our sales department will be contacting your very soon!</p>
    <small>(Items in red are required)</small>
    </br>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48002.74858151369!2d-73.01587280000128!3d41.2398157994195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e8743573cf0317%3A0x7f93ea195e8d02db!2s107+Research+Dr%2C+Milford%2C+CT+06460!5e0!3m2!1sen!2sus!4v1421158270112" width="320" height="240" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>
