<div class="row">
  <div class="col-xs-12">
        <h1>Answers to frequently asked questions:</h1>
        <div class="faqs">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" onclick="return false;">How can 
                  the IT Recovery Specialists benefit our organization?</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>The employees at IT Recovery Specialists specialize in converting surplus assets into cash 
                or new equipment. We can also provide low cost transportation and storage, 
                positively impacting your bottom line.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" onclick="return false;">What types of equipment do you accept, and in what condition?</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>We accept all types of equipment in any condition. If remarketing isn't 
                feasible, we may advise you of other disposal options, such as scrapping.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" onclick="return false;">Who pays for the transportation of my surplus equipment?</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>IT Recovery Specialists normally pays for the transportation on your surplus equipment and deducts the cost from the sale proceeds.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" onclick="return false;">How much do IT Recovery Specialists' remarketing services cost and will we be billed?</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Our fee's are deducted from the proceeds of the sale. Therefore no invoice will be issued.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" onclick="return false;">Who normally purchases surplus equipment from IT Recovery Specialists?</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>We normally try to sell surplus equipment from one business unit which no longer has a use for it to one that does. We're also connected with hundreds of wholesale brokers and dealers throughout the U.S.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" onclick="return false;">How do I get Started?</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Just <a href="contact.php">contact us <span class="glyphicon glyphicon-earphone"></span></a> and we'll get you started. Or you may want to review our Services or Products first.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>