<div class="row">
   <div class="col-xs-12 press-article">
		<h2>BACK PAGE - FIRST SECTION: Why second-hand hardware is the new growth market</h2>

		<h3>By Scott Morrison<br>Financial Times; Nov 12, 2002</h3>

		<p>John Lynch recently scored a great deal on a bunch of used Cisco routers and network switches. He spent $220,000 to buy second-hand hardware that he reckons would cost $5m new and he expects to make a tidy profit by selling the gear on the secondary market for about $600,000.</p>

		<p>Mr Lynch, a self-confessed "deal junkie", is head of Asset Recovery Center, one of the largest companies in the used IT equipment market. He is the kind of brash, fast-talking salesman one might find on a used-car lot, but his products of choice are routers, network switches, computer servers, storage equipment and other hardware.</p>

		<p>He assures anyone willing to listen that hot deals are easy to be had in today's rapidly growing market for used IT equipment. The market last year was flooded after the dotcom implosion. Now many of the world's big corporations, such as AOL Time Warner, are unloading unwanted gear at a fraction of cost.</p>

		<p>"I take advantage of the stupidity of major corporations," says Mr Lynch.</p>

		<p>IT hardware makers such as Cisco Systems, Sun Microsystems, Hewlett-Packard and International Business Machines - struggling with slow demand and falling prices - have stepped up their own used sales efforts in a bid to control the secondary market.</p>

		<p>But with small "unauthorised" dealers such as Mr Lynch selling one- to three-year-old equipment at 75-90 per cent off the list price of new hardware, the secondary market is increasingly popular with corporate chief information officers whose budgets have been drastically cut.</p>

		<p>To hear Mr Lynch tell it, the market is huge and poised to get much bigger. Conservative estimates suggest that used IT sales reach about $20bn annually, while Mr Lynch claims the market is worth $50bn and will grow to $75bn by the end of 2003. These estimates pale in comparison with his claim that the market will grow to as much as $250bn by 2005.</p>

		<p>Others are more cautious. Eric Johnson, associate professor at Tuck School of Business at Dartmouth University, believes the global economic slowdown is bottoming out and that the second-hand market boom is transient. He says the exponential market growth that Mr Lynch forecasts could only come about if the world economy faltered for another two years.</p>

		<p>But economic conditions have helped establish the secondary market as a long-term alternative for corporate buyers. "The bubble bursting has made Fortune 5000 companies much more aware of the secondary market. We see major, major corporations buying used IT gear, companies that we never saw on the market before," says Robert Davie, founder of ITParade.com, an online auction site that specialises in used IT equipment.</p>

		<p>Mr Davie says more large corporations are buying used gear to meet all sorts of needs. But Prof Johnson says most second-hand buyers are small- to medium-sized firms that are much more cost-sensitive. He questions how many are willing to depend on used gear for core IT needs. It takes a pretty crafty CIO to bet the company's infrastructure on a bunch of used equipment, he says.</p>

		<p>There will always be doubts about the quality of used equipment and that strengthens the hand of the big equipment makers, who to varying degrees have tried to thwart small "unauthorised" dealers.</p>

		<p>Used hardware dealers single out Cisco for special mention regarding aggressive tactics they say are designed to confuse buyers and scare them into buying new hardware. Cisco says the used market does not have a significant impact on its business, with annual revenues of $19bn.</p>

		<p>Nonetheless, it is a founding member of the Anti-Gray Market Alliance (Agma), which aims to "educate" buyers about the risks of purchasing IT hardware through unauthorised channels.</p>

		<p>Agma says it is concerned about unscrupulous dealers that sell damaged goods or pass off used gear as new.</p>

		<p>Cisco says it will not provide support service contracts for used equipment unless buyers have it inspected and recertified - for a fee. They must also pay a software licensing fee that Cisco says entitles them to software upgrades. Dealers say these tactics, also adopted by Sun and storage group EMC, drive up costs.</p>

		<p>Secondary market dealers say they almost always test and certify hardware before reselling it and they typically give a warranty for 90 days to a year. Dealers argue that Cisco's tactics are akin to General Motors charging a royalty every time one of its used cars is resold.</p>

		<p>Mr Davie argues that efforts to quash used equipment sales may backfire if loyal customers start feeling that equipment makers are cornering them. "They need to embrace the used equipment industry, just like the car industry has," he says.</p>

		<p>But in any case it is clear the used hardware market will not disappear soon. Just how it develops will depend in large measure on whether WorldCom, the world's largest internet backbone company, emerges from bankruptcy protection or is shut down and liquidated. That development would flood the used IT market for years</p>
   </div>
</div>

