<div class="row">
  <div class="col-xs-12 col-sm-10">
      <h4>When you need to...</h4> 
      <ul>
        <li>Dispose of surplus equipment</li> 
        <li>Trade-in or buy back computer or telecom equipment</li> 
      </ul>
      <p><strong>IT Recovery Specialists, LLC</strong> provides services to transport, warehouse (store), remarket and/or dispose of surplus or junked telecommunications, computer, and/or network equipment, at no cost to your organization.</p>
  </div>
</div>
<div class="row">
  <div id="maincarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#maincarousel" data-slide-to="{{$index}}" ng-repeat="image in carousel"></li>
    </ol>
   
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img ng-src="images/gallery/sm/e25.jpg" alt="">
      </div>    
      <div class="item"  ng-repeat="image in carousel" ng-if"$index != 0">
        <img src="{{image.imageURL}}" alt="">
      </div>
    </div>
   
    <!-- Controls -->
    <span class="left carousel-control" data-target="#maincarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" data-target="#maincarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
  </div> <!-- Carousel -->
</div>