<div ng-controller="CarouselCtrl">
  <div class="row">
    <div class="col-xs-12">
        <p class="lead"><strong>IT Recovery Specialists, LLC</strong> provides asset recovery services to transport, warehouse (store), remarket and/or dispose of surplus or junked telecommunications, computer, and/or network equipment, at <strong>no cost to your organization</strong>.</p>
    </div>
  </div>
  <div class="row">
  <div class="col-xs-12">
    <hr class="hidden-xs">
    <p>The carousel below shows some of the products we have recently aquired.</p>
    
    <div id="maincarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#maincarousel" data-slide-to="{{$index}}" ng-repeat="image in carousel"></li>
      </ol>
     
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img ng-src="images/gallery/sm/e25.jpg" alt="">
        </div>    
        <div class="item"  ng-repeat="image in carousel" ng-if="$index != 0">
          <img ng-src="{{image.imageURL}}" alt="{{image.caption}}">
          <div class="carousel-caption">
            <h2>{{image.caption}}</h2>
          </div>
        </div>
      </div>
     
      <!-- Controls -->
      <span class="left carousel-control" data-target="#maincarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </span>
      <span class="right carousel-control" data-target="#maincarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </span>
    </div> <!-- Carousel -->
    </div>
  </div>
</div>