
<h2>Many of Cisco's challenges are beyond its control</h2>
<h3>By Scott Herhold<br>
Posted on Wed, Nov. 06, 2002 <br>
<strong>Mercury News</strong></h3>

<p>Much like a veteran choreographer, Cisco Systems Chief Executive John Chambers likes to impose patterns 
on the world around him. He's got a set way of handling a conference call. He wants to make four points. 
He aims at producing $700,000 in revenue for every Cisco employee. Oh, yes: He wants to end at 3 p.m.</p>

<p>The only problem is that his dance floor, for reasons beyond his control, is a more cluttered place than 
he'd like. And the dancers are often hurt, uncoordinated or distracted by their arthritis.</p>

<p>To test this thesis, I spent the hour and a half of Cisco's conference call Wednesday multitasking: 
While I listened to Chambers, I also visited the Island after-hours trading site and trolled a 
lightly traveled part of eBay.</p>

<p>I'll get to the eBay visit in a bit. (Memo to boss: I was not visiting the Spider-Man comic book page.) 
First, a few words about Cisco's call.</p>

<p>In many ways, this was not a discouraging conference call. The company made its overall revenue goal 
of $4.8 billion. It continued to seize market share from its rivals. And it achieved an <br>
impressive 69 percent gross margin -- essentially, a measurement of profitability.</p>

<p>``They've been very careful about managing costs,'' said Meta Group analyst Elizabeth Ussher.</p>

<p>But not to put too fine a point on it, many of Cisco's customers, particularly telecom and 
Internet companies, are sick. And they show no signs of recovery.</p>

<p>Chambers, who clearly has versed himself in the I-feel-your-pain mantra of conveying doubt as well 
as sunniness (he cited ``four valid concerns''), said almost as much.</p>

<p>``CEOs are increasingly cautious about capital expenditures,'' he said. ``There continues to be a 
good chance there might be a wave of capital-expenditure reductions.''</p>

<p>You could see all this reflected in the trading of Cisco stock on Island while Chambers spoke. 
While the chatter stayed relatively optimistic, the stock rose 5 percent.</p>

<p>But as soon as Chambers let out the bad news -- that he saw revenue as flat or even 3 percent to 
4 percent down in the next quarter -- the erosion began. By 5 p.m., Cisco was 
trading at $12.65 in the after-hours market, down more than 2 percent.</p>

<p>This is hardly the last word: After-hours traders fire first and ponder later. But an investor thinking 
about jumping into Cisco now might do what I did: Plug the words ``cisco router'' into the eBay search engine.</p>

<p>If you do, you'll come up with more than 1,200 hits, beginning with a half-dozen of Cisco's 12000 series 
routers, selling for $35,000 apiece. Because of failures and bankruptcies of Cisco customers, 
the secondary market is awash in Cisco gear. And bargain hunters have little incentive to buy new stuff.</p>

<p><strong>``We've bought tons of their gear,'' says John Lynch, the CEO of Asset Recovery Center (www.assetrecovery.com), 
a reseller who estimates that a canny buyer can save 75 percent by buying used gear. ``I picked up 1,000 
Cisco routers yesterday.''</strong></p>

<p>The good news about Cisco is that the company is far more conservative about its estimates than 
ever before. (In his best salesman fashion, Chambers even invited one analyst who questioned 
his strategy to e-mail him if he disagreed.) Its executives continue to squeeze costs out.</p>

<p>The bad news is that it doesn't dance alone: It's part of a chaotic conga line. And until some of its 
partners return, it's destined to move in circles.</p>

