<div class="row">
  <div class="col-xs-12">
    <h1>Our staff</h1>
      <p class="lead">IT Recovery Specialists maintains a full office, 
      accounting and warehouse staff to provide the needed support to run the 
      day-to-day business activities. Key principals include: 
      </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-2">
    <img class="fluid-img" src="images/jl-small.jpg" alt="John Lynch - CEO IT Recovery Specialists"/>
  </div>
  <div class="col-xs-8 col-md-10">
      <p><strong>John Lynch</strong>: IT Recovery Specialists 
        CEO: John has been working in both the Asset 
        Recovery and Telecommunications businesses for over 20 years. John is one 
        of the industry's foremost experts in trading high technology assets and 
        has been quoted in The Wall Street Journal, Barron's, Fortune Magazine 
        and various other leading industry publications.</p>
      <p><strong>Mike Lynch</strong>: IT Recovery Specialists 
        Technology Research. With over 20 years of experience in the Information 
        Technology Sector, Mike is the staff Technical Consultant. He has set 
        up and maintains the IT Recovery Specialists Testing lab to verify the condition of received 
        equipment. He is likewise responsible for IT Recovery Specialists' Information Systems and 
        Internet practice. He previously worked with both Lucent Technologies 
        and Motorola. He holds a BS in Computer Science from Florida Atlantic 
        University.</p>
  </div>
</div>
