
<h2>Press articles about IT Recovery Specialists and John Lynch <span class="small">(CEO)</span></h2>
<ul>
   <li>
      <a href="http://archive.fortune.com/magazines/fortune/fortune_archive/2002/02/04/317491/index.htm" target="_blank">Fortune Magazine Features Article on Asset Recovery -
      Cisco's Worst Nightmare (and Sun's and IBM's and Nortel's and...)</a>
   </li>
   <li>
      <a href="nhk.shtml">NHK Special - Live Broadcasted from Tokyo, Japan on July 28, 2001 - Click here to watch Video</a>
   </li>
   <li>
      <a href="thestreet.shtml">TheStreet.com Features Article on Asset Recovery - Enron's Retreat Deepens Internet Gear Glut</a>
   </li>
   <li>
      <a href="barrons.shtml">Barron's - Creative Destruction Feature Article on Asset Recovery</a> 
   </li>
   <li>
      <a href="wsj.shtml">Wall Street Journal Article on Asset Recovery - Watching the Web</a> 
   </li>
   <li>
      <a href="grants.shtml">GRANT'S Article on Asset Recovery - Good as new</a>
   </li>
</ul>
