<div class="row">
   <div class="col-xs-12">
      <h2>Press articles about IT Recovery Specialists and John Lynch <span class="small">(CEO)</span></h2>
      <ul>
         <li>
            <a href="http://archive.fortune.com/magazines/fortune/fortune_archive/2002/02/04/317491/index.htm" target="_blank">Fortune Magazine Features Article on Asset Recovery -
            Cisco's Worst Nightmare (and Sun's and IBM's and Nortel's and...)</a>
         </li>
         <li>
            <a href="press.php?story=financialtimes">Financial Times: Why second-hand hardware is the new growth market, By Scott Morrison, Financial Times; Nov 12, 2002</a>
         </li>
         <li>
            <a href="press.php?story=ciomag">PROCUREMENT STRATEGIES - Good Stuff Cheap, By Scott Morrison, CIO Magazine, Oct 15 2002</a>
         </li>   
         <li>
            <a href="press.php?story=thestreet">TheStreet.com - Enron's Retreat Deepens Internet Gear Glut Nov 29, 2001 by Scott Moritz</a>
         </li>
         <li>
            <a href="press.php?story=barrons">Barron's - Creative Destruction? Oct 2, 2001 by Mark Veverka</a> 
         </li>
         <li>
            <a href="press.php?story=wsj">Wall Street Journal- Watching the Web: Surfing the Internet to unearth family history August 30, 2001 Thursday</a> 
         </li>
         <li>
            <a href="press.php?story=grant">GRANT'S Article on Asset Recovery - Good as new April 13, 2001</a>
         </li>
      </ul>
      <hr>
      <h3>NHK Special Video</h3>
      <video controls width="90%">
         <source src="video/nhk-special.m4v" type='video/mp4'>   
      </video>
   </div>
</div>
