<div class="row">
	<div class="col-xs-12 col-md-9">
	<h2>Our Services include:</h2>
		<p class="lead">When you need to dispose of surplus equipment or arrange transportation, moving and storage.</p>
		<ul>
			<li>Moving an office </li>
			<li>Closing an office </li>
			<li>Transporting equipment   </li>
			<li>Looking for home office or an executive suite </li>
			<li>Storing equipment for future use </li>
		</ul>
	</div>
	<div class="col-xs-11 col-md-3">
		<img class="pull-right service-pic img-rounded" src="images/customer-service.jpg" />
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p>IT Recovery Specialists provides a full set of services for Asset removal, storage, salvage and remarketing. A brief description of these processes include:</p>
		<p>This website only contains a subset of all the equipment we have.  <a href="contact.php">Give us a call</a> and we'll make our
		best effort to find the equipment you need and accomodate your needs.
		</p>
		<h3>Asset Evaluation: </h3>
		<p>IT Recovery Specialists can provide a market value for capital equipment. IT Recovery Specialists professionals have extensive experience in evaluating high technology equipment.</p>
		<h3>Asset Removal: </h3>
		<p>IT Recovery Specialists provides licensed technicians, electricians and movers to complete the task of properly dismantling, packaging and transporting equipment. This service is provided nationwide and internationally (when required).</p>
		<h3>Asset Storage: </h3>

		<p>IT Recovery Specialists provides ample warehousing space for equipment storage. </p>


		<h3>Asset Salvage:</h3>

		<p>IT Recovery Specialists works with several external sources in salvaging obsolete of damaged equipment. This includes the safe disposal of hazardous materials such as CRTs and monitors.</p>


		<h3>Asset Reclamation: </h3>

		<p>IT Recovery Specialists has facilities to retest and certify high technology equipment.</p>


		<h3>Asset Remarketing: </h3>

		<p>IT Recovery Specialists provides multiple sales channels for remarketing assets. This includes bulk sales, direct sales, Internet and auctions.</p>
	</div>
</div>
