<div class="row">
   <div class="col-xs-12 press-article">
   		<h2>Smart Money Magazine - Rebel Rouser</h2>
   		<h3>By Bevery Goodman - May 2006</h3>
   		<img src="images/press/smartmoney-rebel-rouser.jpg" class="img-responsive" alt="Smart Money Magazine - Rebel Rouser"/>
   		<img src="images/press/smartmoney-1.jpg" class="img-responsive" alt="Smart Money Magazine - Rebel Rouser"/>
   		<img src="images/press/smartmoney-2.jpg" class="img-responsive" alt="Smart Money Magazine - Rebel Rouser"/>
   		<img src="images/press/smartmoney-john.jpg" class="img-responsive" alt="Smart Money Magazine - Rebel Rouser"/>
   </div>
</div>
