<div class="row">
   <div class="col-xs-12 press-article">
<h2>TheStreet.com</h2>
<h3>Enron's Retreat Deepens Internet Gear Glut 
November 29, 2001 by Scott Moritz</h3>
<p>Now, as Enron scrambles 
for survival, observers say the company is looking to liquidate its networking 
assets. That means sophisticated gear like Ciena's optical transport boxes, 
which guide laser-borne information down fiber cable, and Cisco's Internet 
routers, which sort and direct data traffic, will be dumped for less than 
10% of their original price on the used market. </p>
<p>Disincentive?<br>
John Lynch, who runs Asset Recovery Center, a used-tech dealership in 
Eatontown, N.J., is negotiating to buy networking gear from Enron. Lynch 
says the market is flooded, which has cut the purchase price to between 
5 cents and 9 cents on the dollar. This means Enron can expect to get 
between $1.5 million and $2.7 million for gear it originally bought for 
$30 million. </p>
<p>Clearly, as communications 
service providers try to stretch their newly slashed equipment budgets, 
this used gear offers a phenomenal cost savings over new gear. In fact, 
the nation's fourth-largest equipment buyer, Qwest (Q:NYSE - news - commentary 
- research - analysis), has boasted that the market is awash with state-of-the-art 
gear at dirt-cheap prices. </p>
<p>It seems hard times only 
get worse for the network gear peddlers. Already suffering from an industrywide 
spending slowdown coupled with a nasty price war, communications equipment 
makers now find that the lower demand is doubly troubling with a glut 
of their own used gear on the market. </p>
<p>Cisco says the used gear 
won't have an impact on its sales and adds that it was fully paid for 
gear it did sell to Enron. Other suppliers declined to comment on the 
effects of the used-gear market. </p>
<p>Northern Exposure<br>
As far as ongoing sales, both Ciena and Sycamore, which sold optical transport 
equipment to Enron, say they've installed the gear and don't expect any 
significant impact should Enron become insolvent. Router maker Avici, 
which listed Enron as one of its top customers in the third quarter, says 
it has taken future Enron sales projections out of its guidance and lowered 
its financial targets. </p>
<p>Enron's foray into telecommunications 
services, starting in 1998, could hardly have been more ill-timed. The 
venture was a me-too business plan that aped energy rival Williams' (WMB:NYSE 
- news - commentary - research - analysis) efforts to build a coast-to-coast 
optical Internet to capture the rising tide of e-traffic. But just as 
Enron was toggling together its spanking new network, the industry went 
bust. </p>
<p>
Enron broadband's modest 
operating losses of $24 million per quarter suddenly quadrupled by the second 
quarter to $102 million, as TheStreet.com's Detox pointed out in July. By 
the third quarter Enron's broadband unit had negative revenue of $125 million; 
for the first nine months of this year, the once-promising dot-com-styled 
enterprise posted a net loss of $494 million.  
</p>
<p>Notably, Enron's rival 
and recent suitor Dynegy (DYN:NYSE - news - commentary - research - analysis) 
also operates a fiber-optic network in the U.S. and Europe. As Friedman 
Billings Ramsey analyst Susan Kalla said Thursday, it will be interesting 
to see if Enron's broadband failure spells similar trouble for the same 
business model embraced by Dynegy and Williams Energy's spinoff, Williams 
Communications (WCG:NYSE - news - commentary - research - analysis). </p>
<p>Suppliers to these outfits 
certainly hope not. </p>
   </div>
</div>