<div class="row">
  <div class="col-xs-12">
	<h2>Wall Street Journal</h2> 
	<h3>Watching the Web: Surfing the Internet to unearth family history - August 30, 2001 Thursday</h3> 
	<h3>"Flash the Cash"</h3>
	<p>John Lynch knows just how cruel this Nuked Economy can be. His company, 
	Asset Recovery Center Inc., reclaims millions of 
	dollars of computers and telecom gear from busted dot-coms and failed 
	phone companies. With a firsthand view of what can go wrong, 
	he has a new policy when brokering the equipment to other buyers, 
	many of them struggling technology companies themselves: 
	He doesn't send bills and he doesn't take checks. What is good? 
	Wire transfers, cash on delivery, or credit card only. He will even 
	take a personal credit card. "Anything to do with the communications business, 
	that's the way they have to do it," says Mr. Lynch, whose company is 
	based in a 40,000 square-foot warehouse Eatontown, NJ.</p>
	<p>Mr. Lynch, who has spent months picking through the abandoned equipment, still shakes his 
	head at the infrastructure many of the failed companies built. Meanwhile, he takes pride in 
	the fact that he runs his firm with just five full-time employees. "I'm not afraid to get on 
	the forklift and move things," he says. And all the companies he is dismantling? "They should 
	never have had 1,000 employees to begin with."</p>
  </div>
</div>